.block{
    background-color: #012F34;
    &__title{
        padding: 140px 260px 70px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
    }
    &__imgs{
        display: flex;
        justify-content: space-between;
        padding-bottom: 151px;
        gap: 80px;
    }
}
